.atuacao {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.atuacao-container {
  box-sizing: border-box;
  padding: 1.25rem;
  margin: 0 auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 6rem;
}

.atuacao-container h2 {
  margin-bottom: 2rem;
}

.info-atuacao {
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 60% 30% 10%;
}

.info-paragrafos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.atuacao-img {
  grid-area: 1 / 1 / 4 / 2;
  object-fit: cover;
  max-height: fit-content;
}

.paragrafo-1,
.paragrafo-2 {
  align-content: flex-end;
}

.info-atuacao ul li::before {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 10px;
  margin-right: 0.5rem;
  background: var(--cor-destaque);
  transition: width 0.2s;
}

ul li:hover::before {
  width: 0.5rem;
}

.info-atuacao::after {
  grid-area: 3 / 2 / 4 / 4;
  content: "";
  display: block;
  width: 36.25rem;
  height: 0.25rem;
  background-color: var(--cor-destaque);
}

@media (max-width: 1200px) {
  .info-atuacao {
    column-gap: 2rem;
  }
}

@media (max-width: 800px) {
  .info-atuacao {
    display: flex;
    flex-direction: column-reverse;
  }

  .info-paragrafos {
    display: flex;
    flex-direction: column;
  }

  .atuacao-img {
    display: block;
    margin: 0 auto;
  }

  .info-atuacao::after {
    display: none;
  }

  .paragrafo-2,
  .paragrafo-1 {
    margin-bottom: 2rem;
  }
}
