.depoimento {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.depoimento-container {
  box-sizing: border-box;
  padding: 1.25rem;
  margin: 0 auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.depoimento-titulo h2 {
  margin-bottom: 0.5rem;
}

.depoimento-titulo p {
  margin-bottom: 3rem;
}

.depoimento-cliente {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.depoimento-conteudo span {
  font-weight: var(--font-medium);
}

@media (max-width: 800px) {
  .depoimento-cliente {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
  }
}
