.contato {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contato-container {
  box-sizing: border-box;
  padding: 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.contato-container img {
  object-fit: contain;
}

.contato-titulo h2 {
  margin-bottom: 2rem;
}

.dados-contato > * {
  color: var(--cor-secundaria);
}

.dados-titulos {
  font: var(--font-semibold) 1.2rem/2 var(--font-primary);
}

.dados-info {
  font: var(--font-regular) 1rem/1.7rem var(--font-primary);
}

@media (max-width: 800px) {
  .contato-container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}
