.footer,
.copyright {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-container,
.copyright {
  box-sizing: border-box;
  padding: 1.25rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.copyright {
  justify-content: flex-start;
}

.footer-container h3,
.footer-info {
  text-transform: uppercase;
  margin-bottom: 0.4375rem;
}

.footer-redes {
  margin-top: 1.3125rem;
  margin-bottom: 3.125rem;
}

.footer-icones {
  display: flex;
  margin-top: 0.4375rem;
  gap: 1.3125rem;
}

@media (max-width: 800px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-logo {
    display: none;
  }

  .footer-info,
  .footer-redes {
    margin-bottom: 1.3125rem;
  }
}
