.footer,
.copyright {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-container,
.copyright {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.copyright {
  justify-content: flex-start;
}

.footer-container h3,
.footer-info {
  text-transform: uppercase;
  margin-bottom: 7px;
}
.footer-redes {
  margin-top: 21px;
  margin-bottom: 50px;
}

.footer-icones {
  display: flex;
  margin-top: 7px;
  gap: 21px;
}

@media (max-width: 800px) {
  .footer-logo {
    display: none;
  }
  .footer-redes {
    margin-bottom: 20px;
  }
}
