.header-container,
.introducao {
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor-destaque);
  margin-top: 4px;
  transition: 0.5s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-container img {
    margin-bottom: 1rem;
  }

  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    /* background: linear-gradient(135deg, #f6f6f5, #ffffff);
    background: linear-gradient(135deg, #f6f6f5, #e4e4e3);
    background: linear-gradient(135deg, #eda78f, #ffb99e, #e08c72);
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 1rem; */

    background: linear-gradient(135deg, #f6f6f5, #e4e4e3);
    padding: 12px 16px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  .header-menu a:hover {
    background: linear-gradient(135deg, #f2f2f1, #fdfdfd);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu a {
    padding: 8px 12px;
  }
}
